@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body, html {
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%; 
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white; 
  width: 100%;
  height: 400px;
  padding: 0 20px; 
  box-sizing: border-box; 
}

.hero-text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6FCFA; 
  width: 50%;
  height: 100%;
  padding: 20px;
}

.hero-text-background {
  padding: 20px;
}

.hero-text h1 {
  font-size: 3rem; 
}

.hero-text p {
  font-size: 1rem; 
  color: #A6A9A8; 
  margin-bottom: 20px;
}

.hero-image {
  width: 50%;
  height: 100%;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 0;
}

.popular-hotels, .trending-destinations {
  text-align: left;
  position: relative;
  margin-bottom: 50px; 
  padding-left: 15px; 
}

.custom-container {
  margin-left: 0 !important; 
  margin-right: 0 !important; 
  max-width: 100% !important; 
  padding-left: 15px; 
}

.popular-hotels h2, .popular-hotels p, .trending-destinations h2, .trending-destinations p {
  margin-left: 15px; 
}

.text-description {
  color: grey; 
}

.chip-container-wrapper {
  overflow: hidden;
  width: calc(100% - 30px); 
}

.chip-container {
  display: flex;
  justify-content: flex-start; 
  transition: transform 0.5s ease-in-out;
}

.chip-container .card {
  margin: 15px 10px;
  flex: 0 0 20%; 
  box-sizing: border-box;
}

.popular-hotels .card-img-top, .trending-destinations .card-img-top {
  height: 200px;
  object-fit: cover;
}

.popular-hotels .card-body, .trending-destinations .card-body {
  flex: 1; 
}

.popular-hotels .card-title, .trending-destinations .card-title {
  font-size: 1.2em;
  margin: 10px 0 5px;
}

.popular-hotels .card-text, .trending-destinations .card-text {
  margin: 0;
  font-size: 0.9em;
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: none;
}

.right-arrow {
  right: 10px;
}

.left-arrow {
  left: 10px;
}
