.border-bottom {
  border-bottom: 2px solid #000; 
}
.services-section {
  padding: 60px 0;
  background-color: #fff; 
}
.service-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: transform 0.3s;
  background-color: #f8f9fa; 
  margin-bottom: 30px;
  height: 100%;
  width: 100%; 
}
.service-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.service-icon {
  font-size: 50px;
  color: #2AB683;;
  margin-bottom: 20px;
}
.section-title {
  font-size: 36px;
  margin-bottom: 20px;
}
.section-subtitle {
  font-size: 18px;
  margin-bottom: 40px;
  color: #6c757d;
}

